/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1 {
  width: 800px;
  text-align:center;
  margin: 0px auto;
  font-family: fantasy;
}

.organ {
  width:800px;
  margin: 0px auto;
}

.note:first-of-type {
  border-left: 1px solid black;
}

.note {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  font-size: 10px;
  width:21px;
  height: 60px;
  margin: 0px auto;
  float: left;
  display: inline-block;
  text-align: center;
  line-height: 60px;
}

.playing-note{
  background-color: teal;
}
