<!DOCTYPE html>
<html>
<head>
  <title>BenchBnB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <h1>BenchBnB</h1>

  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMTFQcGptzeiFb7NXKijwTyZ6ZoNpGv_k">
  </script>

<%= yield %>

</body>
</html>
